/* Tag selectors */

body {
  color: white;
  background-color: hsl(257, 40%, 49%);
  background-image: url(images/bg-desktop.svg);
  background-repeat: no-repeat;
  height: 800px;
  margin: 0;
  width: 1440px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

button {
  color: hsl(257, 40%, 49%);
  border-radius: 20px;
  border-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  height: 55px;
  width: 200px;
}

button:hover {
  color: #ffffff;
  background-color: hsl(300, 69%, 71%);
}

footer {
  float: right;
  margin-right: 80px;
  margin-top: 10px;
}

/*Class selectors */

.logo {
  margin-left: 80px;
  margin-top: 65px;
}

.top-container {
  display: flex;
  height: 500px;
  margin: 100px auto 0 auto;
  width: 1280px;
}

.parts {
  flex: 1;
}

.right-part {
  margin-left: 60px;
  margin-top: 50px;
}

.svg-inline--fa {
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 20px;
  padding: 10px;
}

.svg-inline--fa:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}

/* Media selectors */

@media all and (max-width: 400px) {
  body {
    width: 375px;
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    height: 800px;
    margin: 0;
  }
  h1 {
    font-size: 26px;
    margin-top: 10px;
  }
  p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
  }
  img {
    width: 295px;
  }
  .logo {
    height: 20px;
    max-width: 295px;
    margin-left: 40px;
    margin-top: 40px;
  }
  .top-container {
    display: flex;
    flex-direction: column;
    height: 550px;
    margin: 50px auto 0 auto;
    width: 295px;
    text-align: center;
  }
  .left-part {
    width: 295px;
  }
  .right-part {
    margin-left: 0;
    margin-top: 10px;
  }
  button {
    font-size: 15px;
    height: 40px;
    width: 200px;
  }
  footer {
    float: none;
    margin: 65px auto 0 auto;
    text-align: center;
  }
  .svg-inline--fa {
    margin: 0;
  }
}
